API_ID=21394317
API_HASH=67d47811e48343bb7ef1d098246defce
BOT_TOKEN=7338359893:AAG-j3XuDImvstYtJmNl_Js3gfwfAFzQKw4
LOGGER_ID=-1002136795173
MONGO_DB_URI=mongodb+srv://Vicky123:Vicky123@cluster0.qznmdso.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=21394317
STRING_SESSION=BQFGc40AZhmhmJPK-Vszy7YmN5l4gjJcLH7VtdYMDLqTZd7dwJvfAt167goIF0vZmsSVojqykZbu2dkqGmM3njLUQ8Xs0lmWvd6ph-rJVCcpYX5InWjvRCjw-hArkYHMcSqVmXa5JrVMjsZ78lJVG_iQ3BudUMS48OurOsoquwRajjNTxlgo1Qf4CTphai4y4Q2YXeUApLuurP_tO-qUHT3_eX6jN5JgXaJmXmKW_UWAKAeXL26hDZ6n_1Y9L40aOE_jxJ6MTYIspyb0IJoQlm5dKq78AQX-o9F8sUk4XjFVKMKcZHAhszv_XEXVgmto93OYM_5GUrZAgGhDMitCD7_uj7vwMQAAAAFxAoLtAA
SUPPORT_GROUP=https://t.me/FRIENDS_ZONE_CHATTING_GROUP
SUPPORT_CHANNEL=https://t.me/FRIENDS_ZONE_CHATTING_GROUP
